* {
    box-sizing: border-box;
}

ul {
    margin-bottom: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

// Colours
$orange: #F47A20;
$black: #333333;
$white: #ffffff;
$light-grey: #F5F5F5;
$medium-grey: #B7B7B7;
$border-colour: #dedede;

// Topic colours
$education-colour: #30B681;
$housing-colour: #EB5757;
$brexit-colour: #314CB5;
$employment-colour: #7CB6BC;
$disability-colour: #FCD80C;
$healthcare-colour: #9B51E0;
$welfare-colour: #F2994A;
$tax-colour: #F2CAAB;
$security-colour: #A59C5C;
$crime-colour: #528BF7;
$environment-colour: #219653;
$energy-colour: #C67255;

// Topics tag list index
$tagList: (
    education   $education-colour   darken($education-colour, 10%),
    housing     $housing-colour     darken($housing-colour, 10%),
    brexit      $brexit-colour      darken($brexit-colour, 10%),
    crime       $crime-colour       darken($crime-colour, 10%),
    disability  $disability-colour  darken($disability-colour, 10%),
    employment  $employment-colour  darken($employment-colour, 10%),
    energy      $energy-colour      darken($energy-colour, 10%),
    environment $environment-colour darken($environment-colour, 10%),
    healthcare  $healthcare-colour  darken($healthcare-colour, 10%),
    housing     $housing-colour     darken($housing-colour, 10%),
    security    $security-colour    darken($security-colour, 10%),
    tax         $tax-colour         darken($tax-colour, 10%),
    welfare     $welfare-colour     darken($welfare-colour, 10%)
);

// Typography
$heading-font: 'Merriweather', serif;
$main-font: 'Open Sans', sans-serif;
$link-colour: $orange;

$site-max-width: 1040px;

$border-radius-size: 4px;

// Breakpoints
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;

// Transitions
$transition-duration: .7s;
$transition-curve: ease-in-out;