<!doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70472350-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-70472350-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <script src="https://use.fontawesome.com/ca79de5bc0.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#333333">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

    <!-- Set the most recent debate url -->
    <!-- This doesn't work! -->
    {{ range first 1 (where .Data.Pages "Type" "debates") }}
        {{ $.Scratch.Add "mostRecentDebatePermalink" .Permalink }}
    {{ end }}


    {{ partial "site-header.html" . }}

    <div class="page-header">
        <div class="main-container">
            <div class="page-header__breadcrumb">
                {{ block "breadcrumb" . }}{{ end }}
            </div>
            {{ if .IsHome }}
                <p>{{ .Site.Params.description }}</p>
            {{ else }}
                <h1>{{ .Title }}</h1>
            {{ end }}
        </div>
    </div>

    {{ block "main" . }}

    {{end}}

    {{ partial "site-footer.html" . }}

    <script>
        var navicon = document.getElementById('navicon');
        var siteHeader = document.getElementById('site-header');

        function menuToggle() {
            siteHeader.classList.toggle('navigation-closed');
            siteHeader.classList.toggle('navigation-open');
        }

        navicon.addEventListener('click', menuToggle);
    </script>

</body>