{{ define "main" }}
    <div class="main-container main-container--no-gutter">
        <div class="body-column">
            {{ .Content }}
        </div>

        <div class="sidebar-column">
            <div class="debate-sidebar">
                <h5>Want to contribute?</h5>
                <p>If you're interested in contributing to Quick PMQs then I'd love to hear from you. The best way to get hold of me is <a href="http://www.twitter.com/quickpmqs">via Twitter</a>.</p>
                <p>If you found this site useful, consider <a href="https://paypal.me/jonnykates">buying me a beer</a>.</p>
            </div>
        </div>
    </div>
{{ end }}