<header class="site-header" id="site-header">
    <div class="main-container">

        <a href="/" class="site-header__logo"><img src="/images/logo.svg" alt="Quick PMQs" /></a>

        <div class="site-header__actions">
            <a href="{{ $.Scratch.Get "mostRecentDebatePermalink" }}" class="button button--ghost">View latest debate</a>

            <a class="site-header__navicon button" id="navicon">Menu</a>

            <ul class="main-navigation main-navigation--closed">
                <li><a href="/debates">Debates</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </div>
    </div>
</header>